node_modules
/Fanorona/static/react/precache-manifest.d7c99bfe09373b19bb0f01171370f8ab.js
/Fanorona/static/react.zip
/frontend/build/
/frontend/build_back/
/frontend/build.zip
/engine/dd1.txt
/engine/dddd.txt
/engine/dddd1.txt
/engine/difff.txt
/engine/difff1.txt
*.pyc
*.chunk.js
*.chunk.js.map
client
Fanorona/static/.DS_Store
board/.env
main.*