.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.root{
  width:-moz-available;
  height: -moz-available;
  position: relative;
}


.main{
  width: 60%;
  height: 60%;
  position: absolute;
  min-width: 500px;
  min-height: 250px;
  max-width: 750px;
  max-height: 380 px;
}

.game_windows{
  width: 600px;
  height: 300px;
  position: relative;
  display: inline-block;
}

.crosscont{
  width: 100%;
  height:100%;
  padding-bottom: 25%;
  background-color: white;
  position:relative;
  padding:20%;
}

.rowcross{
  width: 100%;
  height: 100%;
  display: grid;  
  padding: 0%;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 50% 50%;
}

.crossed, .crossed_left, .crossed_bottom, .crossed_bottom_left {
  background: 
     linear-gradient(to top left,
         rgba(0,0,0,0) 0%,
         rgba(0,0,0,0) calc(50% - 0.8px),
         rgba(0,0,0,1) 50%,
         rgba(0,0,0,0) calc(50% + 0.8px),
         rgba(0,0,0,0) 100%),
     linear-gradient(to top right,
         rgba(0,0,0,0) 0%,
         rgba(0,0,0,0) calc(50% - 0.8px),
         rgba(0,0,0,1) 50%,
         rgba(0,0,0,0) calc(50% + 0.8px),
         rgba(0,0,0,0) 100%),
      linear-gradient(90deg,
         rgba(0,0,0,0) 0%,
         rgba(0,0,0,0) calc(50% - 0.8px),
         rgba(0,0,0,1) 50%,
         rgba(0,0,0,0) calc(50% + 0.8px),
         rgba(0,0,0,0) 100%),
      linear-gradient(180deg,
         rgba(0,0,0,0) 0%,
         rgba(0,0,0,0) calc(50% - 0.8px),
         rgba(0,0,0,1) 50%,
         rgba(0,0,0,0) calc(50% + 0.8px),
         rgba(0,0,0,0) 100%);
  width: 100%;
  height: 100%;
  border-style: solid;
  border-width: thin;
  background-color: none;
}

.crossed {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2,1fr);
}

.crossed_left {
  justify-content: space-between ; 
  display: grid;
  grid-template-rows: repeat(2,50%);
  grid-template-columns: repeat(3,50%); 
}

.crossed_bottom {
  justify-content: space-between ; 
  display: grid;
  grid-template-rows: repeat(3,50%);
  grid-template-columns: repeat(2,50%); 
}

.crossed_bottom_left {
  justify-content: space-between ; 
  display: grid;
  grid-template-rows: repeat(3,50%);
  grid-template-columns: repeat(3,50%); 
}

.player-one, .player-two , .player-none{
  border-radius: 50%;
  width: 60%;
  height: 60%;
  border: 1px solid black;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
}

.selected {
  box-shadow: 0 0 10px 5px #16A8C7;
}

.player-one:hover {
   background-color: yellow;
}

.player-one {
  background-color: #180E19;
}

.player-two {
  background-color: red;
}

.player-none {
  background-color: none;
  border: none;
}

.selected {
  box-shadow: 0 0 10px 5px #16A8C7;
  background-color: green;
}

.available {
  background-color: pink;
}
